#swatches {
  position: fixed;
  top: 0; 
  bottom: 0;
  left: 0; 
  width: 100%;
  margin: 0; padding: 0;
  
  overflow-y: auto;
  background: black;
  list-style: none;
}

#swatches li {
  position: absolute;
  z-index: 10;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
}

#swatches li .info {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto; padding: 20px 0;
  width: 110px;
  border-radius: 3px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  
  background: rgba(0, 0, 0, .5);
  color: white;
  text-align: center;
}

#swatches li .info h2 {
  font-size: 12px;
  line-height: 30px;
  margin: 0; padding: 0;
}

#swatches li .info .controls {
  line-height: 20px;
}


#swatches #edit {
  overflow-y: auto;
  right: 0;

  /* Special animating props */
  -webkit-transition: left .2s linear;
  -moz-transition: left .2s linear;
  -ms-transition: left .2s linear;
  -o-transition: left .2s linear;
  transition: left .2s linear;
}

#swatches #edit #constraints {
  width: 100%;
  height: 100%;
  padding-bottom: 1000px;
}

.animating {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.btn {
  background: none;
  border: none;
  outline: none;
  color: #aaa;

  padding-top: 0;
  padding-bottom: 0;
}

.btn:hover {
  color: white;
}