<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>color.hailpixel.com &middot; Swatch you doing?</title>
    <meta name="description" content="Color picker for data driven design">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ STATIC_URL }}/css/normalize.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/font-awesome.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css" />
  </head>
  
  <body>

    {% block content %}
    {% endblock content %}

    <!-- Templates -->
    <script type="text/template" id="template-color">
      <div class="info">
        <div class="rgb">
          <h2><%= colorHex %></h2>
        </div>

        <button class="destroy btn"><i class="icon-remove icon-large"></i></button>
      </div>
    </script>

    <!-- Libraries -->
    <script src="{{ STATIC_URL }}/scripts/vendor/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/scripts/vendor/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}/scripts/vendor/backbone-min.js"></script>
    <script src="{{ STATIC_URL }}/scripts/vendor/color.min.js"></script>

    <!-- The swatch app -->
    <script src="{{ STATIC_URL }}/scripts/models/color.js"></script>
    <script src="{{ STATIC_URL }}/scripts/collections/colors.js"></script>
    <script src="{{ STATIC_URL }}/scripts/views/color.js"></script>
    <script src="{{ STATIC_URL }}/scripts/routes/router.js"></script>
    <script src="{{ STATIC_URL }}/scripts/views/app.js"></script>
    <script src="{{ STATIC_URL }}/scripts/main.js"></script>

    <!-- Async Scripts -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17489176-5']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
